<?xml version="1.0"?>
<robot name="bglx_etrike" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ================================================================== -->
  <!-- BGLX AUTONOMOUS E-TRIKE - Main URDF entry point                    -->
  <!-- DEST: bglx_ws/src/etrike_description/urdf/etrike.urdf.xacro        -->
  <!-- Track A change: include the ros2_control / gazebo_ros2_control xacro-->
  <!-- ================================================================== -->

  <!-- Inertia + material helpers -->
  <xacro:include filename="$(find etrike_description)/urdf/macros/inertia_macros.xacro"/>
  <xacro:include filename="$(find etrike_description)/urdf/macros/materials.xacro"/>

  <!-- Components -->
  <xacro:include filename="$(find etrike_description)/urdf/components/frame.xacro"/>
  <xacro:include filename="$(find etrike_description)/urdf/components/front_fork.xacro"/>
  <xacro:include filename="$(find etrike_description)/urdf/components/control_panel.xacro"/>
  <xacro:include filename="$(find etrike_description)/urdf/components/battery.xacro"/>
  <xacro:include filename="$(find etrike_description)/urdf/components/cargo_box.xacro"/>
  <xacro:include filename="$(find etrike_description)/urdf/components/rear_drive.xacro"/>
  <xacro:include filename="$(find etrike_description)/urdf/components/sensors.xacro"/>

  <!-- Gazebo sensor/material config (diff_drive plugin REMOVED here) -->
  <xacro:include filename="$(find etrike_description)/urdf/gazebo/gazebo_config.xacro"/>

  <!-- NEW: ros2_control hardware + gazebo_ros2_control plugin -->
  <xacro:include filename="$(find etrike_description)/urdf/control/etrike_ros2_control.xacro"/>

  <!-- ============================================================== -->
  <!-- INSTANTIATE COMPONENTS (parent links must exist before children)-->
  <!-- ============================================================== -->
  <xacro:frame parent="base_link"/>
  <xacro:front_fork parent="frame_head_tube"/>
  <xacro:control_panel parent="frame_main_spine"/>
  <xacro:battery parent="base_link"/>
  <xacro:cargo_box parent="base_link"/>
  <xacro:rear_drive parent="base_link"/>
  <xacro:sensors parent="sensor_mount_plate"/>

</robot>