<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo reference="frame_main_spine"><material>Gazebo/Orange</material></gazebo>
  <gazebo reference="frame_rear_left_vertical"><material>Gazebo/Orange</material></gazebo>
  <gazebo reference="frame_rear_right_vertical"><material>Gazebo/Orange</material></gazebo>
  <gazebo reference="frame_rear_cross"><material>Gazebo/Orange</material></gazebo>
  <gazebo reference="frame_head_tube"><material>Gazebo/Orange</material></gazebo>
  <gazebo reference="frame_front_diagonal"><material>Gazebo/Orange</material></gazebo>
  <gazebo reference="frame_cargo_rail_left"><material>Gazebo/Orange</material></gazebo>
  <gazebo reference="frame_cargo_rail_right"><material>Gazebo/Orange</material></gazebo>
  <gazebo reference="rear_axle_tube"><material>Gazebo/DarkGrey</material></gazebo>
  <gazebo reference="caster_mount"><material>Gazebo/DarkGrey</material></gazebo>
  <gazebo reference="steering_link"><material>Gazebo/DarkGrey</material></gazebo>
  <gazebo reference="front_disc"><material>Gazebo/DarkGrey</material></gazebo>
  <gazebo reference="rear_left_swingarm"><material>Gazebo/DarkGrey</material></gazebo>
  <gazebo reference="rear_right_swingarm"><material>Gazebo/DarkGrey</material></gazebo>
  <gazebo reference="cargo_handle"><material>Gazebo/DarkGrey</material></gazebo>
  <gazebo reference="battery_enclosure"><material>Gazebo/DarkGrey</material></gazebo>
  <gazebo reference="sensor_mount_plate"><material>Gazebo/DarkGrey</material></gazebo>
  <gazebo reference="aframe_leg_left"><material>Gazebo/Grey</material></gazebo>
  <gazebo reference="aframe_leg_right"><material>Gazebo/Grey</material></gazebo>
  <gazebo reference="aframe_crossbar"><material>Gazebo/Grey</material></gazebo>
  <gazebo reference="front_rim"><material>Gazebo/Grey</material></gazebo>
  <gazebo reference="rear_left_rim"><material>Gazebo/Grey</material></gazebo>
  <gazebo reference="rear_right_rim"><material>Gazebo/Grey</material></gazebo>
  <gazebo reference="front_wheel"><material>Gazebo/FlatBlack</material></gazebo>
  <gazebo reference="rear_left_wheel"><material>Gazebo/FlatBlack</material></gazebo>
  <gazebo reference="rear_right_wheel"><material>Gazebo/FlatBlack</material></gazebo>
  <gazebo reference="rear_left_hub_motor"><material>Gazebo/FlatBlack</material></gazebo>
  <gazebo reference="rear_right_hub_motor"><material>Gazebo/FlatBlack</material></gazebo>
  <gazebo reference="control_panel_backing"><material>Gazebo/FlatBlack</material></gazebo>
  <gazebo reference="bms_module"><material>Gazebo/FlatBlack</material></gazebo>
  <gazebo reference="lidar_base"><material>Gazebo/FlatBlack</material></gazebo>
  <gazebo reference="front_hubcap"><material>Gazebo/Gold</material></gazebo>
  <gazebo reference="rear_left_hubcap"><material>Gazebo/Gold</material></gazebo>
  <gazebo reference="rear_right_hubcap"><material>Gazebo/Gold</material></gazebo>
  <gazebo reference="rear_left_spring"><material>Gazebo/Red</material></gazebo>
  <gazebo reference="rear_right_spring"><material>Gazebo/Red</material></gazebo>
  <gazebo reference="cargo_box"><material>Gazebo/White</material></gazebo>
  <gazebo reference="cargo_lid"><material>Gazebo/White</material></gazebo>
  <gazebo reference="accent_left"><material>Gazebo/Yellow</material></gazebo>
  <gazebo reference="accent_right"><material>Gazebo/Yellow</material></gazebo>
  <gazebo reference="accent_front"><material>Gazebo/Yellow</material></gazebo>
  <gazebo reference="lidar_sensor"><material>Gazebo/SkyBlue</material></gazebo>
  <gazebo reference="front_lidar_link"><material>Gazebo/SkyBlue</material></gazebo>
  <gazebo reference="indicator_light"><material>Gazebo/Green</material></gazebo>
  <gazebo reference="battery_indicator"><material>Gazebo/Blue</material></gazebo>
  <gazebo reference="screen"><material>Gazebo/Black</material></gazebo>
  <gazebo reference="depth_camera"><material>Gazebo/Black</material></gazebo>
  <gazebo reference="camera_front_main"><material>Gazebo/Black</material></gazebo>
  <gazebo reference="camera_front_left"><material>Gazebo/Black</material></gazebo>
  <gazebo reference="camera_front_right"><material>Gazebo/Black</material></gazebo>
  <gazebo reference="camera_rear_left"><material>Gazebo/Black</material></gazebo>
  <gazebo reference="camera_rear_right"><material>Gazebo/Black</material></gazebo>
  <gazebo reference="camera_rear_main"><material>Gazebo/Black</material></gazebo>
  <gazebo reference="left_depth_link"><material>Gazebo/Black</material></gazebo>
  <gazebo reference="right_depth_link"><material>Gazebo/Black</material></gazebo>
  <gazebo reference="rear_depth_link"><material>Gazebo/Black</material></gazebo>
</robot>
